* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    font-style: italic;
    color: rgb(3, 3, 37);
    font-size: 2.5rem;
    height: 10vh;
}

#section-lets-start {
    padding: 10vh 0vw 10vh 0vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(175, 175, 175);
    height: 90vh;
}

.hide-section-lets-start {
    display: none;
}

.button {
    padding: 2vh 5vw 2vh 5vw;
    margin-top: 10vh;
    background-color: bisque;
    cursor: pointer;
}
#section-game-start-before{
    display: none;
}

.section-game{
    padding-top: 15vh;
    padding-left: 8vw;
    background-color: rgb(175, 175, 175);
    height: 90vh;
}
#game div {
    border: 1px solid black;
    width: 17%;
    height: 200px;
    margin: 10px;
    display: inline-block;
    background-color:whitesmoke;
    box-shadow: 3px 2px 2px rgba(0,0,0,.3);
    transform: scale(1);

}


#game div:active {
    transform: scale(0.95);
    transition: transform .2s;
  }


  .button-go-back{
    text-align: center;
    padding-top: 15vh;
    padding-right: 9vw;
  }
  .go-back{
    background-color: bisque;
    padding: 2vh 5vw 2vh 5vw;
    cursor: pointer;
  }
